body{
    background: #F5F4F4;
}

.container{
    background: #F5F4F4;
}

.header{
    background-color: #0b0633;
    color: #F5F4F4;
}

.rubrik{
    text-align: center;
}

.footer{
    background: #F5F4F4;
}