@use './varible';

@mixin MainFlex (){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@mixin MainMargin {
    margin-left: 300px;
    margin-right: 300px;
}
@mixin Font($font_size) {
    font-family: $font_family;
    font-size: $font_size;
}
@mixin nav() {
    /* Add a black background color to the top navigation */
.nav {
    background-color: $nav_color;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: $main_color;
    color: black;
  }
}